extends layout

block content
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#top')= __("DA wedding")
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#top')
            li
              a.page-scroll(href='#about')= __("about")
            li
              a.page-scroll(href='#contact')= __("contact")

    // Intro Header
    // Header
    header#top.header
      .text-vertical-center
        h1= __("Our wedding")
        if pageData
          p  #{ pageData.guest }  
        h3
          | 30 
          = __("August") 
          |  2015
        #CDT
        br
        a.btn.btn-dark.btn-lg(href='#invitation')= __("Find Out More")

    // About
    section#about.about.content-section
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading= __("about")
            h3.section-subheading.text-muted= __("How we met each other")
            br
        .row
          .col-lg-12
            ul.timeline
              li
                .timeline-image
                  img.img-circle.img-responsive(src='/images/about/1.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4=  __("December") 
                      |  2005
                    h4.subheading= __("First acquaintance")
                  .timeline-body
                    p.text-muted=  __("First acquaintance story")
              li.timeline-inverted
                .timeline-image
                  img.img-circle.img-responsive(src='/images/about/2.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4=  __("August") 
                      |  2005
                    h4.subheading=  __("Start dating")
                  .timeline-body
                    p.text-muted=  __("Start dating story")
              li
                .timeline-image
                  img.img-circle.img-responsive(src='/images/about/3.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4= __("May")    
                      |  2015
                    h4.subheading=  __("Marriage proposal")
                  .timeline-body
                    p.text-muted=  __("Marriage proposal story")
              li.timeline-inverted
                .timeline-image
                  h4
                    = __("Be Part")
                    br
                    = __("Of Our Story")
                    br
                    | 30 
                    = __("August")
                    |  2015
    // Map
    section#contact.map.content-section
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5230.483874270787!2d30.425809916061613!3d50.44426891266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe0a94ffe6e0e6a53!2sORLY+PARK!5e0!3m2!1sen!2sus!4v1436770423846')
      br
      small
        a(href='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5230.483874270787!2d30.425809916061613!3d50.44426891266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe0a94ffe6e0e6a53!2sORLY+PARK!5e0!3m2!1sen!2sus!4v1436770423846')
    // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong= __("Meeting point")
            strong
              = __("Restaurant") 
              a(href='http://orlypark.com.ua/')  ORLY PARK
            br
            = __("Address")
            br
            = __("Address2")   
            ul.list-unstyled
              li
                i.fa.fa-phone.fa-fw
                br
                | +38 044 300 03 30 
                br
                | +38 099 554 37 77
                br 
                | +38 096 014 37 77 
                br
                | +38 063 391 37 77 
              li
                i.fa.fa-envelope-o.fa-fw
                br
                a(href='mailto:d.rybachuk@gmail.com') d.rybachuk@gmail.com
            br
            hr.small
            - var today = new Date();
            p.text-muted Copyright © Dmitriy Rybachuk #{today.getFullYear()}
    // jQuery
    script(src='/javascripts/jquery.js')
    // JQuery UI
    script(src='/javascripts/jquery-ui.min.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    //  Plugin JavaScript
    script(src='/javascripts/jquery.easing.min.js')
    // Custom Theme JavaScript
    script(src='/javascripts/main_menu.js')
    // Timer
    script(src='/javascripts/mywedding.js')
    //Photo upload
    script(src='/javascripts/jquery.fileupload.js')
    script(src='/javascripts/jquery.iframe-transport.js')
    script(src='/javascripts/jquery.ui.widget.js')

